# Empty CSS file for your own CSS

.width-30-pct{
    width:30%;
}

.text-align-center{
    text-align:center;
}

.margin-bottom-1em{
    margin-bottom:1em;
}

.mainBody {
  /*background-color: red;*/
  padding: 4% 10% 0 10%;
}

td {
  border-left: .5px solid hsla(0, 0%, 81%, 0.52);
}

.btn, .btn-large, .btn-flat {
    border: none;
    border-radius: 2px;
    display: inline-block;
    height: 30px;
    line-height: 30px;
    padding: 0 1rem;
    text-transform: uppercase;
    vertical-align: middle;
    -webkit-tap-highlight-color: transparent;
  }
