# Empty CSS file for your own CSS

.text-align-center{
    text-align:center;
}

.margin-bottom-1em{
    margin-bottom:1em;
}

.mainBody {
  padding: 4% 10% 0 10%;
}

td {
  border-left: .5px solid hsla(0, 0%, 81%, 0.52);
}

.btn, .btn-large, .btn-flat {
    border: none;
    border-radius: 2px;
    display: inline-block;
    height: 30px;
    line-height: 30px;
    padding: 0 1rem;
    text-transform: uppercase;
    vertical-align: middle;
    -webkit-tap-highlight-color: transparent;
  }

/*Fixes Issue: Edit Animal popup window too small*/
.editAnimalPopUp {
  max-height: 80%;
  width: 80%;
  z-index: auto important;
}

/*Fixes Issue: Labels too big on popup editor*/
.activeLabel {
  font-size: 0.8rem;
  -webkit-transform: translateY(-140%);
  transform: translateY(-140%);
}

.mytooltip {
    /*position: relative;
    display: inline-block;*/
    position: absolute;
    border-bottom: 1px black;
    opacity: 1;
}

.mytooltip .mytooltiptext {

    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;

    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    top: -5px;
    left: 105%;
}

.mytooltip:hover .mytooltiptext {
    visibility: visible;
}




.container_feedlots {
    margin-top: 20px;
    display: inline-block;
    width: 110%;
}

.recordof_feedlot {
    width: 45%;
    height: 20%;
    background-color: rgba(49, 119, 124, 0.86);
    padding: 10px;
    margin: 5px 5px 5px 5px;
    display: inline-block;
    float: left;
}

.btng_feedlot {
    display: block;
    width: 50%;
    float: right;
    right: 0px;
    height: 100%;
}

.btn_weight {
    right: 0px;
    float: right;
}

.btn_addanimal {
    right: 0px;
    float: right;
}

.feedlotstats {
    width: 50%;
    display: block;
    float: left;
}
